{% load static %}
<div id="navbar">
        <!-- <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand">Navbar</a>
                <form class="form-inline">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
              </nav> -->
    <nav class="navbar">
        <a class="navbar-brand" href="{% url 'index' %}"><img style="width: 30px" src="{% static 'icons/icon_white.png' %}" alt="Machine Monitor"></a>
        <form class="form-inline" action="{% url 'logout' %}" method="post" id="logout_form">
            {% if request.user.is_authenticated %}
                <button class="btn btn-outline-light mr-sm-2" href="{% url 'change_password' %}">Change password</button>
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" name="logout">Logout</button>
            {% endif %}
        </form>
    </nav>  
</div>